body {
	background-color: #282828 ;
	font-family: verdana;
}
h1 {
	color: white;
	text-align: center;
	margin: 5px;
	font-family: Copperplate / Copperplate Gothic Light, sans-serif;
	font-size: 40px;
	font-weight: normal;
}
h2 {
	color: #0099FF;
}
h3 {
	font-size: 19px;
	font-weight: normal;
	color: white;
}
.left {
	width: 50%;
	height: 200px;
	text-align: left;
	float: left;
	margin: 0;
}
.right {
	width: 50%;
	height: 200px;
	text-align: right;
	float: left;
	overflow: hidden;
	margin: 0px;
}
#nav {
	text-align: center;
	white-space: nowrap;
}
#nav ul {
	list-style-type: none;
	word-spacing: 40px;
	margin: 0;
	padding: 0;
}
#nav ul li {
	display: inline;
}
a {
	font-size: .9em;
	color: #A0A0A0;
	text-decoration: none;
}
#homeContent {
	display: none;
	margin-top: 20px;
	color: #0099FF;
}
#homeContentElement {
	width: 100%;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	font-size: 60px;
	text-align: center;
	margin: 10% 0 0;

}
#educationContent, #skillContent, #experienceContent, #experienceContent, #upcomingContent, #contactContent {
	margin-top: 20px;
	color:#707070  ;
	display: none;
}
#skillContent ul, #upcomingContent ul {
	list-style-type: none;
}
#educationContent ul, #experienceContent ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.lavaLamp {
    position: relative;
    height: 29px; width: 421px;
    background: url("../image/bg.gif") no-repeat top;
    padding: 15px; margin: 10px 0;
    overflow: hidden;
}
/* Not my CSS code Style Below*/	
/* Use value="1" to be active */
#slide {position:absolute; height:4px; background:#0099FF; z-index:10} 